<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALHomestayPro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
				<key>dateExpires</key>
				<string>2020/10/13</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CRBoxInputView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CocoaSecurity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Colours.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FDFullscreenPopGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactiveCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYCategories.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>647472EECB1FE601D9AB7AC834BA07CC2FC3EE83</string>
						<key>dateExpires</key>
						<string>2020/10/13</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z8DJKL6ZN6</string>
						<key>name</key>
						<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z8DJKL6ZN6.ald.ALHomestayPro</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z8DJKL6ZN6</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z8DJKL6ZN6.ald.ALHomestayPro</string>
				</array>
			</dict>
			<key>name</key>
			<string>ALHomestayPro.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>efcf917a-5808-41fb-aa0f-7b416a29bd79</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z8DJKL6ZN6</string>
				<key>name</key>
				<string>Beijing Shangru Wode Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
